* {
    margin: 0;

}



.container{
    border: 2px solid black;
    height: 80vh;
    width: 30rem;
    margin: auto;
    background-color: grey;
    padding-top: 20vh;
}

.circle {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    margin: auto;
    background-color: red;
    background: linear-gradient(30deg, black, greenyellow);
animation-name: bouncing;
animation-duration: 7s;
position: relative;
}

@keyframes bouncing{
0% { top: 0; width: 6rem;}
5% { top: 20rem; width: 7rem;}
10% { top: 0; width: 6rem;}
15% { top: 20rem; width: 7rem;}
20% { top: 0; width: 6rem;}
25% { top: 20rem; width: 7rem;}
30% { top: 0; width: 6rem;}
35% { top: 20rem; width: 7rem;}
40% { top: 0; width: 6rem;}
45% { top: 20rem; width: 7rem;}
50% { top: 0; width: 6rem;}
55% { top: 20rem; width: 7rem;}
60% { top: 0; width: 6rem;}
65% { top: 20rem; width: 7rem;}
70% { top: 0; width: 6rem;}
75% { top: 20rem; width: 7rem;}
80% { top: 0; width: 6rem;}
85% { top: 20rem; width: 7rem;}
90% { top: 0; width: 6rem;}
95% { top: 20rem; width: 7rem;}
100% { top: 0; width: 6rem;}
}



@media screen and (max-width: 600px) {

.container{
    margin-top: 10vh;
    padding-top: 10vh;
    height: 80vh;
    width: 100%;
}
    
}

